.footer{
    background-color: black;
    margin-top:20px;
    color: white;
    position: relative;
    width:100%;
    bottom:0;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    .begin{
        margin-top: 20px;
        width:250px;
        
        ul{
            list-style-type: none;
        }
        a{
            text-decoration: none;
        }
    }
    .about{
        margin-top: 20px;
        margin-left: 2%;
        width: 230px;
        ul{
            list-style-type: none;
        }
        a{
            text-decoration: none;
        }
    }
    .suport{
        margin-top: 20px;
        margin-left: 2%;
        width: 250px;
        ul{
            list-style-type: none;
        }
        a{
            text-decoration: none;
        }
    }
    .icons-social-medias{
        margin-top: 20px;
        
        
        ul{
            
            list-style-type: none;
            li{
                display:inline-block;
                margin-left: 20px;
            }
        }

        a{
            text-decoration: none;
        }
    }
    .developer{
        
        margin-top:20px;
        width: 100%;
        text-align: center;
        font-weight: bold;
        text-align: center;
        align-items: center;
        p{
            margin-top:3px;
        }
    }
    
    
}